<div class="tb-position--relative main">
    <div class="tb-container container">
        <div fxLayout="column" fxLayoutAlign="start stretch">

            <h1 class="tb-typo--h3">Privacy Policy for Taru - Plant Finder & Weather</h1>
            <p class="tb-typo--body2">We take the privacy of our users very seriously, and we want you to feel confident
                and comfortable using our app. This privacy policy outlines what information we collect, how we use it,
                and how we protect your privacy.</p>
            <p class="tb-typo--body2">If you have additional questions or require more information about our Privacy
                Policy, do not
                hesitate to contact us.</p>
            <h2 class="tb-typo--h5 tb-font-weight--bold">Information We Collect</h2>
            <p class="tb-typo--body2">When you use our app, the app may use certain information from you, such as your
                device information, search queries, and location, but these are not collected by us.</p>
            <p class="tb-typo--body2">We do not collect any personally identifiable information from you, such as your
                name, email address, or password.</p>

            <h2 class="tb-typo--h5 tb-font-weight--bold">How We Use Your Information</h2>
            <p class="tb-typo--body2">We use your information to provide you with the best possible user experience,
                including identifying plants, checking weather and forecast.</p>
        </div>
    </div>
</div>