<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm">
    <div class="tb-container tb-position--relative container">

        <div class="content-container" fxLayout="column">
            <!-- <div ngClass.gt-sm="tb-height--36" ngClass.sm="tb-height--20" ngClass.xs="tb-height--2"></div> -->

            <div ngClass.gt-sm="tb-height--126" ngClass.sm="tb-height--72" ngClass.xs="tb-height--72"></div>
            <h4 [@transitionTextEnter]="{value:'in', params: {animDelay: 200}}" ngClass.gt-sm="current-typo--h4"
                ngClass.sm="current-typo--h5" ngClass.xs="current-typo--h5">Hi, I'm Mahesh Singh</h4>
            <div ngClass.gt-sm="tb-height--24" ngClass.sm="tb-height--12" ngClass.xs="tb-height--12"></div>
            <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 300}}" ngClass.gt-sm="current-typo--h1-light"
                ngClass.sm="current-typo--h2-light" ngClass.xs="current-typo--h3">Love</h2>

            <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 400}}" ngClass.gt-sm="current-typo--h1-light"
                ngClass.sm="current-typo--h2-light" ngClass.xs="current-typo--h3">To Build Software Products</h2>
            <h2 [@transitionTextEnter]="{value:'in', params: {animDelay: 500}}" ngClass.gt-sm="current-typo--h1-light"
                ngClass.sm="current-typo--h2-light" ngClass.xs="current-typo--h3">& Solve Real World Problems </h2>

            <div ngClass.gt-sm="tb-height--24" ngClass.sm="tb-height--16" ngClass.xs="tb-height--8"></div>

            <p [@transitionTextEnter]="{value:'in', params: {animDelay: 700}}"
                (@transitionTextEnter.done)='_onTextAnimationEnd($event)' class="detail tb-color--black-54"
                ngClass.gt-sm="current-typo--body1" ngClass.sm="current-typo--body1" ngClass.xs="current-typo--body1">
                Results-driven professional with 9+ years of expertise in Java, Spring Boot, Microservices, and Azure Cloud. 
                Skilled in building scalable backend systems, optimizing performance, and leading Agile teams to deliver robust software solutions.</p>
            <div ngClass.gt-sm="tb-height--126" ngClass.sm="tb-height--72" ngClass.xs="tb-height--72"></div>
        </div>
    </div>
</div>